<main>
  <section class="video">
    <video autoplay #video></video>
  </section>
  <section class="configuration">
    <label for="userName">Name</label>
    <input id="userName" class="name" placeholder="enter you name here">
    <label for="userCamera">Camera</label>
    <select id="userCamera">
      <option>none</option>
    </select>
    <label for="userMicrophone">Microphone</label>
    <select id="userMicrophone">
      <option>none</option>
    </select>
    <button>start call</button>
  </section>
</main>
